* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --font-family: "karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ce4993;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

body {
  background-color: #000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.border-button {
  background: linear-gradient(
    115deg,
    #eeaf61,
    #fb9062,
    #ce4993,
    #ce4993,
    #6a0d83
  );
  padding: 2px;
}

.button {
  padding: 1em 1.5em;
  background: #000;
  color: white;
  font-size: 18px;
  border: none;
  font-family: inherit;
  letter-spacing: 0.1em;
}

.border-button:hover {
  background: linear-gradient(
    230deg,
    #eeaf61,
    #fb9062,
    #ce4993,
    #ce4993,
    #6a0d83
  );
}

.border-button:hover .button {
  transition: 0.3s ease-in-out;
  color: var(--btn-color-hover);
  padding: 1.1em 1.6em;
}
